
html,body {
  height: 100%;
}

*{
  margin: 0px;
  padding: 0px;
}

body {

font-family: 'Avenged For Yourself';
overflow: hidden;
position: relative;

}

.title {
  font-family: 'Avenged For Yourself';
  color: #fff !important;
  font-size: 9em;
  line-height: 0.9em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.screen {
  background-image: url("../img/infestus-test.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.box {
  height: 60%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  border: solid 1px #fff;
  left:  0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin: auto;
  text-align: center;
}

.btn-playstore {
display: block;
 width: 188px;
 height: 54px;
 position: absolute;
 bottom: 100px;
 bottom: 40px;
 left: 50%;
 transform: translateX(-50%);
 background-color: white;
 border-radius: 4px;
 background-image: url("../img/bot.png");

}

@media only screen and (min-width: 375px) and (max-width: 426px) {
.title {
  font-size: 4em !important;
}
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
.title {
  font-size: 7em;
}
}

@media only screen and (max-width: 321px) {
.title {
  font-size: 3.5em !important;
}
}
